.list-panel{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--list-width));
    gap: 10px;
    padding: 10px;
    height: calc(100% - var(--header-height));
    overflow-y: auto;
}