<div class="card">
    <div class="name">
        <p>{{card.name}}</p>
    </div>
    <div class="desc">
        <p>{{card.description}}</p>
    </div>
    <div class="date">
        <p>{{card.dueDate}}</p>
    </div>
    <div class="priority">
        <div disabled>{{priorName}}</div>
    </div>
    <div class="list">
        <select>
            <option selected disabled>Move to:</option>
            <option *ngFor="let list of lists" value={{list.id}}>{{list.name}}</option>
        </select>
    </div>
</div>
